/*These are the approved styles for the site*/


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(48, 88, 61);
    background-image: url('plant.jpg');
    /*background-color: blueviolet;*/
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20;
    color: black;
    font-weight: normal;
}

a {color: rgb(48, 88, 61); text-decoration: none; font-weight: bolder;}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

a:visited {color: black;}
.listsize {
    font-size: 18px;
    text-align: center right;
}

.aboutme {
    font-style: italic;
    font-family: fantasy;
    color: darkolivegreen;
    font-size: 60px;
    text-align: center;
    top: 2px;
}

.resumelistheader {
    font-weight: bolder;
    font-style: normal;
}

.underline {text-decoration: underline;}
.bold { font-weight: bold;}
.justify {text-align: justify;}

.homebackground {
    background-image: url('images/plant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.home {
    color: rgb(14, 13, 15);
    font-size: 40;
    font-weight: 600;
    text-decoration: underline;
}
.hometext {
    color: white;
}

.aboutmebackground {
    background-image: url('images/green\ background.jpg');
}



.box1 {
    border: solid 1px black;
    border-bottom: dotted 2px yellow;
}

.box2 {
    padding: 4px;
}

.box3 {
    margin: 50px;
}

.box4 {
    border-top: dotted 3px purple;
    border-bottom: solid 2px green;
}

.box5 {
    border: double 4px white;
}